* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

nav {
  position: sticky;
  top: 0;
  transition: top 0.2s;
}
/* .navbar-nav a:hover {
  font-weight: 800;
  font-size: larger;
  color: #466545;
} */
/* a {
  color: #466545;
  font-weight: 200;
  font-size: small;
} */
/* nav */
.nav-link {
  color: #466545;
  margin: 0 10px;
}
.nav-link:hover {
  font-size: large;
  font-weight: 700;
  color: #466545;
}

.active {
  font-weight: 800;
  font-size: larger;
  color: #466545;
}
.menu a {
  color: white;
  font-size: 2vh;
}
.menu a:hover {
  color: blue;
  font-size: 2vh;
}

/* main */
/* header */
h5 {
  font-weight: 700;
}
.btnproduk:hover {
  font-size: larger;
}

/* footer */
footer {
  background-color: #767672;
  color: white;
}

.akun a {
  color: white;
  font-size: 2vh;
}
.akun a:hover {
  color: blue;
  font-size: 2vh;
}

/* index */

/* PRODUK.HTML */
.inputbarang {
  width: 700px;
  margin: 40px auto;
}

.inputbarang .btn-outline-secondary {
  border-radius: 0;
  background-color: #466545;
  color: white;
}

/* PROFILE.HTML */
.container .row tr {
  margin-bottom: 4rem;
}

/* UBAH DATA */
.dataUbah button {
  float: right;
  background-color: hsl(54, 100%, 61%);
  color: white;
  font-weight: 700;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");

/* ********************************************   PROFILE   ******************************************** */
.ubah__porfile .btn-primary,
.data__profile .btn-primary {
  background: #767672 !important;
  border: #ffffff !important;
  color: #ffffff !important;
}
.ubah__porfile .form-control-file {
  background-color: #767672;
}
.data__profile {
  font-size: medium;
  /* font-size: 12px; */
}
.data__profile table tr td {
  padding: 12px;
}
.data__profile a {
  margin-right: 5px;
  text-decoration: none;
}
