/*detail barang*/
.fs_big {
	font-size: 48px;
}
.data__barang__gambar{
	width: 100%;
	height: 150px;
}

/********responsive*********/
@media screen and (max-width: 425px) {
	/*detail barang*/
	.fs_big {
		font-size: 36px;
	}

	/*404 page*/
	.desc_error {
		font-size: 16px;
	}
}
@media screen and (max-width: 576px) {
	.tampil__barang {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	/* **** Data Barang **** */
	.keterangan__barang{
	/* max-width: 50%; */
	}
	.gambar__barang{
		/* max-width: 50%; */
		max-height: 100px;
		padding: 0;
	}
}

/* icon */
.icon-menu, .fa-bars, .fa-layer-group, .icon-options-vertical{
	color: rgb(94, 94, 94);
}



/* Header */
.quick-actions-header .title, .quick-actions-header .subtitle{
	color: rgb(94 94 94);
}
.scroll-wapper{
	background-color: #fbfafa;
}
/* Body */
.container{
	background-color: #fbfafa !important;
}


/* **** Data Barang **** */

.barang_content{
	padding: 20px;
	margin: 20px;
}
.barang-section{
	padding: 20px;
}
.form__search{
	border:1px solid #ced4da !important;
	border-radius: .25rem !important;
}