<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>

	<section class="ftco-section">
		<div class="row justify-content-center d-">
			<div class="col-md-5 col-lg-4">
				<div class="login-wrap p-4 p-md-5">
					<div class="container text-center mb-4">
						<img src="images/tokos.png" style="background-size: cover; width: 100px;" alt="">
					</div>
					<form action="#" class="login-form">
						<div class="form-group">
							<input type="text" class="form-control rounded-left" placeholder="Username" required>
						</div>
						<div class="form-group">
							<input type="password" class="form-control rounded-left" placeholder="Password" required>
						</div>
						<div class="container text-right">
							<button type="submit" class="btn btn-success rounded submit p-2 px-3" style="background-color: rgb(231, 218, 39);border: none;" >Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>

