<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Produk</title>
    <link rel="stylesheet" href="customerstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="images/favicon/favicon.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg " id="navbar" style="background:#FDF9D5">
        <div class="container p-2">
          <img src="images/tokos.png" style="height: 60px; background-size: cover;" alt="">
          <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span style="height: 3vh;" class="navbar-toggler-icon" ></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" style="height: 3vw;" id="navbarNavAltMarkup">
            <div class=" navbar-nav" style="display: flex;" >
              <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link" style="font-weight: 700; font-size: large;" href="produk.html">Produk</a>
              <a class="nav-link" href="keranjang.html">Keranjang</a>
              <a class="nav-link" href="profile.html">Profile</a>
            </div>
          </div>
        </div>
    </nav>

    <!-- header -->
    <div class="container text-center" style="margin-top: 40px;">
        <h5> <span style="color: #FFE500;" >Cari Barangmu</span> di sini</h5>
    </div>
    <div class="inputbarang w-75 mx-auto">
        <div class="input-group mb-3">
            <input   type="text"  class="form-control " placeholder="masukan nama barang" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary"  type="button" id="button-addon2"> <i class="bi bi-search mx-1"></i> Cari </button>
        </div>
    </div>
    <!-- menampilkan semua barang -->
    <div class="container" style="margin-top: 60px;" >
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
            <!-- setiap barang -->
            <div class="col" id="">
                <div class="p-3 border ">
                    <img src="images/gayung.jpg" style="width: 120px;background-size: cover;"  alt="">
                    <h5> Gayung</h5>
                    <p>IDR 20000 <br> Gayung warna biru anti pecah </p>
                    <div class="btn btn-warning">Beli</div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border ">
                    <img src="images/pencil.jfif" style="width: 120px;background-size: cover;"  alt="">
                    <h5>Pencil 2B</h5>
                    <p>IDR 5000 <br> Pulpen 2B warna hitam  FaberCasttle</p>
                    <div class="btn btn-warning">Beli</div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border ">
                    <img src="images/kaos_kaki.jpg" style="width: 120px;background-size: cover;"  alt="">
                    <h5>Kaos Kaki</h5>
                    <p>IDR 20000 <br> Kaos kaki simple low katun</p>
                    <div class="btn btn-warning">Beli</div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border ">
                    <img src="images/totebag.webp" style="width: 120px;background-size: cover;"  alt="">
                    <h5>Totebag</h5>
                    <p>IDR 50000 <br> Totebag gambar tangan hitam</p>
                    <div class="btn btn-warning">Beli</div>
                </div>
            </div>
            <div class="col">
                <div class="p-3 border ">
                    <img src="images/gayung.jpg" style="width: 120px;background-size: cover;"  alt="">
                    <h5> Gayung</h5>
                    <p>IDR 20000 <br> Gayung warna biru anti pecah </p>
                    <div class="btn btn-warning">Beli</div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="isi" style="border-bottom:#FDF9D5 0.1vw solid;">
            <div class="container justify-content-end " >
                <div class="main" style="margin-top: 9vw;">
                    <p style="font-size: 2vw; font-weight: 700;  padding-top: 3vw;">Social Media</p>
                </div>
                <div class="akun" style="margin-bottom: 2vw;">
                    <img src="images/facebook.png" style="width: 15px;background-size: cover;" alt="">
                      <a class="facebook" href="https://web.facebook.com/?_rdc=1&_rdr">Tokos</a><br>
                    <img src="images/mail.png" style="width: 15px;background-size: cover;" alt=""><a class="mail"
                      href="https://webmail.au.syrahost.com/">tokos@gmail.com</a><br>
                    <img src="images/twitter.png" style="width: 15px;background-size: cover;" alt=""><a class="facebook"
                      href="https://twitter.com/login">toko_anak_kos</a>
                  </div>
            </div>
        </div>
        <div class="container" style="width: 90%;">
            <p style="padding: 2vh 0;font-size: 1vw;"> Tokos Copyright ©  2021 Toko Anak Kos Tembalang.</p>
        </div>
    </footer>
    <script src="navbar.js">
    </script>
</body>
</html>